* {
    font-family: 'Inter';
}

body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
}

.page-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    margin-top: 10rem;
    padding: 3rem;
}

.title-container {
    width: 100%;
}

.section-container{
    width: 100%;
}

.title-text {
    font-size: 6rem;
}

.header-text {
    font-size: 2.5rem;
}

.body-text {
    font-size: 1.5rem;
}

