* {
    font-family: 'Inter';
}

body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

.page-container {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10rem;
    margin-top: 2rem;
}

.title-container {
    width: auto;
    height: auto;
    max-width: 1000px;
}

.section-container{
    width: auto;
    height: 100%;
    max-width: 700px;
}

.title-text {
    font-size: 3.5rem;
    font-weight: 800;
    width: auto;
}

.header-text {
    font-size: 1.5rem;
    width: auto;
}

.body-text {
    font-size: 1.0rem;
    width: auto;
}

.image-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 5px;
    margin: 1rem;
}

.body-image {
    max-width: 300px;
    height: auto;
}

